/* #rad{
    display: flex;
    margin-right: 20px;
    padding-right: 20px;
} */

/* input[type="radio"] {
    display: inline;
    margin-right: 10px;
  }   */

  /* Tried creating space between two radio buttons :|| */

  #foot{
    position:fixed;
    left:0px;
    bottom:0px;
    height:230px;
    width:100%;
    background:#999;
    padding-left: 20px;
  }

  #hed{
    text-align: center;
  }

.centeredButton{
    bottom: 0%;
    padding-left: 700px;
}